<!DOCTYPE html>
<html lang="en">
<head>
<title>TutorCo</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark stick-top px-3">
  <a class="navbar-brand text-warning" href="/">TutorCo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item">
      <a class="nav-link text-warning" href="/login">Sign In</a>
      </li>    
    </ul>
  </div>  
</nav>


<div class="text-center">

<a href="/signup" type="button" class="btn btn-warning btn-lg mt-5" role="button" >Sign Up </a>

</div>

<div class="jumbotron text-center fixed-bottom" style="margin-bottom:0">
  <p>TutorCo</p>
</div>

</body>
</html>