



<div class="text-center  mt-4" style="width: 100%">
<div class="text-warning bg-light pt-2 pb-2 pl-1">
<h1>Our Team</h1>
</div>
<br>
<div class="text-dark font-weight-normal">
<h5><p> Our instructors are specially trained in their area of expertise.</p>
<p> Each instructor will help bring you or your child's academic dreams come true. </p><strong></h5>
<br>
<div class="text-center text-warning">
<h4>Instructor of the Month:
<%=Instructor.instructor_of_the_month.name%></h4>
<br></br>
</div>

<ul class="list-group">
<% @instructors.each do |instructor| %>
    <li style="font-size: 20px" class="list-group-item font-weight-normal"><%= link_to instructor.name, instructor_path(instructor), style: "color: black;"%> who teaches,
    <%= instructor.subject %></li>
    <br></br>
    <% end %>
    </ul>
    </div>
    </div>