
<br></br>
<div class="text-left font-italic ml-5">
<div class="text-warning">
<h3>Our Team</h3>
</div>
<br>
<div class="text-secondary">
<p> Our instructors are specially trained in their area of expertise, and will help bring your or your child's academic dreams come true... </p>

<br>
<ol>
<% @instructors.each do |instructor| %>
    <li><%= link_to instructor.name, instructor_path(instructor)%> who teaches,
    <%= instructor.subject %></li>
    <br></br>
    <% end %>
    </ol>
    </div>
    </div>