
<div class="text-center mt-4" style="width: 100%">
<div class="text-warning bg-light pt-2 pb-2 pl-1">
<h1>Our Subjects</h1>
</div>
<br>
<div class="text-dark">
<% subjects = @instructors.map do |instructor|%>
    <%instructor.subject %>
    <% end %>
<h3>

<ul class="list-group ">
<% subjects.uniq.each do |subject| %>
    <li class="list-group-item "><%= subject%>, taught by:</li>
    <ul class="list-group ">
    <h4><%@instructors.each do |instructor|%>
        <%if instructor.subject == subject%>
           <li > <%=link_to instructor.name, instructor_path(instructor), style: "color: grey;"%></li>
       <% end%>
    <%end%>
    <br>
    </h4>
    </ul>
    <% end %>
    </ul>
    <br>
  
    </h3>
    </div>