<br></br>
<div class="text-left font-italic ml-5">
<div class="text-warning">
<h2>Our Centers</h2>
</div>
<div class="text-center text-secondary border border-warning ml-auto">
<h5> Hours of Instruction </h5>
<h6> Sun-Sat, 9AM-5PM </h6>
</div>
<br>
<div class="text-secondary">
<ul>
<%@locations.each do |location| %>
    <li><%= location.name %></li>
    <ul>
    Instructors in this location:
    <%@instructors.each do |instructor|%>
        <%if instructor.location == location%>
           <li> <%=link_to instructor.name, instructor_path(instructor) %></li>
       <% end%>
    <%end%>
    </ul>
    <br>
    <% end %>
    </ul>
    </div>
  