We have centers in all of the below locations!

<ul>
<%@locations.each do |location| %>
    <li><%= location.name %></li>
    <ul>
    Instructors who teach in this location:
    <%@instructors.each do |instructor|%>
        <%if instructor.location == location%>
           <li> <%=link_to instructor.name, instructor_path(instructor) %></li>
       <% end%>
    <%end%>
    </ul>
    <% end %>
    </ul>
  